<div class="col-12 col-lg-5 m-auto">
    <p style="font-size: 26px; font-weight: 500; text-decoration: underline;" class="text-center mt-lg-5">Select Project
        </p>
        <label for="" class="form-label mt-4">Select Project <span class="text-danger">*</span></label>
        <select name="" id="" class="form-control" ng-model="project" >
            <option value="{{department.id}}" ng-repeat="project in projects" style="font-style: 10px !important;">{{project.project_name}}</option>
        </select>
        <label for="" class="form-label mt-4">Select Employee <span class="text-danger">*</span></label>
        <select name="" id="" class="form-control" ng-model="employee" >
            <option value="{{department.id}}" ng-repeat="employee in employees" style="font-style: 10px !important;">{{project.project_name}}</option>
        </select>
        
        <div class="text-center mt-2"><button class="btn btn-primary mt-2 m-auto"
                ng-click="addEmployeeToProject()">Add Employee</button>
        </div>
        <div class="loaderContainer" ng-class="{'d-none':loader}">
            <loader></loader>
        </div>
</div>