<div class="row col-5 m-auto">
    <div class=" pt-3 p-3 ms-5">
        <p class="text-center addDepartmentHeading mt-3 text-nowrap text-center" style="border-bottom:2px solid #ef5aca;width:100% ">Remove
            Designation</p>
        <label for="" class="form-label mt-4">Select Designation <span class="text-danger">*</span></label>
        <select name="" id="" class="form-control" ng-model="designation" >
            <option value="">select</option>
            <option value="{{designation.id}}" ng-repeat="designation in designations">{{designation.designation_name}}</option>
        </select>
        <div class="text-center mt-2"><button class="btn btn-primary mt-2 m-auto"
                ng-click="removeDesignation()">Remove</button>
        </div>
    </div>
    <div class="loaderContainer" ng-class="{'d-none':loader}">
        <loader></loader>

    </div>
</div>